.draggable-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex ;
  align-items: center;
  justify-content: center;
}

.draggable-window {
    border-radius: 100%;
    height: 800px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.dragable-node {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
